:root {
--bg:#10002B;
--2: #240046;
--3: #3C096C;
--4: #5A189A;
--5: #7B2CBF;
--6: #9D4EDD;
--7: #C77DFF;
--8: #E0AAFF;
}

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
  font-family: 'Ubuntu Condensed', sans-serif;
  background: var(--bg);
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

.flex-center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-between {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-column {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  align-self: center;
}